# {{ ansible_managed }}
export GO_SERVER_URL="https://{{ gocd_agent.server }}:{{ gocd_agent.port }}/go"
export GO_AGENT_SYSTEM_PROPERTIES="{{ gocd_agent.start_opts }}"
export AGENT_WORK_DIR={{ gocd_agent.user_dir }}/work/${SERVICE_NAME}
export AGENT_MEM={{ gocd_agent.agent_mem }}
export AGENT_MAX_MEM={{ gocd_agent.agent_max_mem }}

DAEMON=Y
VNC=N

export GOPATH=/home/{{ gocd_agent.user }}/go
export PATH=$GOPATH/bin:$PATH
export PATH=$PATH:/usr/local/go/bin
